<h2>Lista de datos guardados</h2>

<table>
	<thead>
		<tr>
			<td>N&deg;</td>
			<td>Nombre</td>
			<td>A&ntilde;o</td>
			<td>Acci&oacute;n</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let animal of animals; let i = index;">
			<td>{{i+1}}</td>
			<td>{{animal.name}}</td>
			<td>2012</td>
			<td class="table-buttons">
				<button><i class="fa fa-eye"></i>Ver</button>
				<button><a [routerLink]="['/admin/edit-data', animal._id]"><i class="fa fa-pencil"></i>Editar</a></button>
				<button><i class="fa fa-trash"></i>Borrar</button>
			</td>
		</tr>
	</tbody>
</table>